<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dettagli Evento</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/eventi">Eventi</a>
        <a href="/sedi">Sedi</a>
        <a href="/auth/login">Login</a>
      </nav>
    </header>

    <h1 th:text="${evento.nome}"></h1>
    <p th:text="${evento.descrizione}"></p>
    <p>Data e Ora: <span th:text="${evento.data}"></span></p>

    <h3>Prezzo biglietto</h3>
    <p th:text="${evento.prezzo}"></p>

    <h3>Prenota il tuo biglietto</h3>
    <form action="/prenotazioni" method="POST">
      <input type="hidden" name="eventoId" th:value="${evento.id}" />
      <label for="numeroBiglietti">Numero Biglietti</label>
      <input type="number" name="numeroBiglietti" min="1" required />
      <button type="submit">Prenota</button>
    </form>
  </body>
</html>
